extends layout

block content
  each post in posts
    article.article.intro
      header
        p.date
          span= post.dateFormat
        h2
          a(href=post.url)= post.title
      section.content !{typogr(post.intro).typogrify()}
        if post.hasMore
          p.more
            a(href=post.url) Read more&hellip;

block prepend footer
  div.nav
    if prevPage
      a(href=prevPage.url) « Newer
    else
      a(href='/archive') « Archives
    if nextPage
      a(href=nextPage.url) Next page »



